{% extends 'blogapp/base.html' %}

{% block content %}
    <div style="margin-bottom: 40px">
        <h1>Профиль</h1>
        <h2>Юзер: {{ user.username }}</h2>
        <h3>ФИ: {{ user.last_name }} {{ user.first_name }}</h3>
        <h3>Эмэйл: {{ user.email }}</h3>

        <h3>Био:</h3>
        <p>{{user.userdata.bio}}</p>


        <a href="{% url 'profileEdit' %}">Изменить профиль</a></div>

    <div>
        <h1>Все посты от user.username ({{pnum}})</h1>
        {% for p in Posts %}
            <a href="{% url 'postpage' p.id %}" style="text-decoration: none;  color: inherit;">
            <div style="background-color: gray; padding: 20px">
                <h1>{{ p.title }}</h1>

                <p style="background-color: white; padding: 20px">{{ p.content }}</p>

                <p>by: {{ p.author }}</p>
                <h5>created: {{ p.created_at }}<br>
                updated: {{p.updated_at }}</h5>

                <p>{%for t in p.tags.all %}
                    <a href="{% url 'TagPosts' t.id %}">#{{t}}</a>
                    {%endfor%}</p>
            </div>
            </a>
            <br>
        {% endfor %}

        <div class="pagination" style="padding: 20px;">
            <span class="step-links">
                {% if Posts.has_previous %}
                <a href="?page=1">&laquo; first  </a>
                <a href="?page={{ Posts.previous_page_number }}">  previous</a>
                {% endif %}


            <span class="current">
                Page {{ Posts.number }} of {{ Posts.paginator.num_pages }}.
            </span>

            {% if Posts.has_next %}
                <a href="?page={{ Posts.next_page_number }}">next</a>
                <a href="?page={{ Posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </span>
        </div>
    </div>
{% endblock %}